@import '~antd/dist/antd.css';

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5em;
    color: 
    rgba(0, 0, 0, 0.85);
    font-weight: 500;
}
    /* #components-layout-demo-fixed-sider .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
} */

/* .ant-carousel .slick-slide {
    text-align: center;
    height: 560px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
}

.ant-carousel .slick-slide h3 {
    color: #fff;
} */




